# Pandas Data Frame

In [2]:
import pandas as pd

GS = ["Modern wed","DevOps","Cloud","Big Data","Security","自我挑戰組"]
IN = [59,9,19,14,6,77]
IN_dict = {
    
    "groups":GS,
    "irnmen":IN
    
}
IN_df = pd.DataFrame(IN_dict)
IN_df

       groups  irnmen
0  Modern wed      59
1      DevOps       9
2       Cloud      19
3    Big Data      14
4    Security       6
5       自我挑戰組      77

In [4]:
print(IN_df.ndim)
print(IN_df.shape)
print(IN_df.dtypes)

2
(6, 2)
groups    object
irnmen     int64
dtype: object

In [22]:
print(IN_df.sum())
print(IN_df.irnmen.sum())
print(IN_df.mean())
print(IN_df.median())
print(IN_df.describe())

groups    Modern wedDevOpsCloudBig DataSecurity自我挑戰組
irnmen                                           184
dtype: object
184
irnmen    30.666667
dtype: float64
irnmen    16.5
dtype: float64
          irnmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [25]:
import pandas as pd
import numpy as np

GS = ["Modern wed","DevOps", np.nan ,"Cloud","Big Data","Security","自我挑戰組"]
IN = [59,9,19,14,6,77 , np.nan]
IN_dict = {
    
    "groups":GS,
    "irnmen":IN
    
}
IN_df = pd.DataFrame(IN_dict)
print(IN_df.loc[:, "groups"].isnull())  #判斷那些組的組名是遺失值
print(IN_df.loc[:, "irnmen"].notnull()) #判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: irnmen, dtype: bool

In [33]:
a = IN_df.dropna() #刪除空虛
b = IN_df.fillna(0) #空值補0
c = IN_df.irnmen.fillna(IN_df.irnmen.mean()) #空值補平均數

print(a)
print(b)
print(c)

       groups  irnmen
0  Modern wed    59.0
1      DevOps     9.0
3       Cloud    14.0
4    Big Data     6.0
5    Security    77.0
       groups  irnmen
0  Modern wed    59.0
1      DevOps     9.0
2           0    19.0
3       Cloud    14.0
4    Big Data     6.0
5    Security    77.0
6       自我挑戰組     0.0
0    59.000000
1     9.000000
2    19.000000
3    14.000000
4     6.000000
5    77.000000
6    30.666667
Name: irnmen, dtype: float64

In [36]:
import pandas as pd

GS = ["Modern wed","DevOps","Cloud","Big Data","Security","自我挑戰組"]
IN = [59,9,19,14,6,77]

#建立 data frame

IN_df = pd.DataFrame(IN, columns = ["irnmen"], index = GS)
IN_df.sort_index()

            irnmen
Big Data        14
Cloud           19
DevOps           9
Modern wed      59
Security         6
自我挑戰組           77

In [39]:
IN_df.sort_values(by = "irnmen")

            irnmen
Security         6
DevOps           9
Big Data        14
Cloud           19
Modern wed      59
自我挑戰組           77